albumentations==1.3.0
numpy==1.22.4
opencv_python_headless==4.7.0.68
pandas==1.5.3
Pillow==9.5.0
PyYAML==6.0
scikit_learn==1.2.2
scipy==1.7.1
timm==0.6.12
torch==2.0.0
torchvision==0.15.1
tqdm==4.65.0
utool==2.1.7
vtool==1.5.0
wbia_utool==4.0.4
wbia_vtool==4.0.2
wildbook_ia==4.0.1
